<h1>Recipe for {{name}}</h1>
<form name="main" method="post" action="/add">
  <input type="text" name="name" placeholder="Name" value="{{name}}"><br>
  <input type="number" name="prepTime" placeholder="Prep Time (in minutes)" value="{{prepTime}}"><br>
  <input type="number" name="cookTime" placeholder="Cook Time (in minutes)" value="{{cookTime}}"><br>
  <textarea name="steps" rows="8" cols="80">{{#steps}}{{.}}&#13;&#10;{{/steps}}</textarea><br>
  <input type="text" name="source" placeholder="Recipe Source" value="{{source}}"><br>
</form>

<form name="ingForm">
  <input type="text" name="ingredient" placeholder="Ingredient">
  <input type="text" name="measure" placeholder="Measure (Tbsp, cup, mL, etc)">
  <input type="number" name="amount" placeholder="Number of ingredients">
  <button type="submit">Add Ingredient</button><br>
</form>

<button onclick="submitRecipe();">Submit Recipe</button>

<ul class="ingredientList">
  {{#ingredients}}
  <li class="ingredient"><span>{{amount}}</span> <span>{{measure}}</span> of <span>{{ingredient}}</span></li>
  {{/ingredients}}
</ul>
<script type="text/javascript" src="/public/js/add.js"></script>
