<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose Schemas</title>
  </head>
  <body>
    <a href="/"><p>View All Recipes</p></a>
    <a href="/add"><p>Add Recipe</p></a>
    {{{yield}}}
  </body>
</html>
